
header {
    background-color: $colorNavy;
    color: $colorWhite;

    .nav-item{
        .nav-link{
            color: $colorWhite;
        }

        .disabled{
            color: $colorBlue;
        }
    }
    
}