
main {
    background-color: $colorBackground;

    .card-header{
        background-color: $colorGray;
        color: $colorNavy;
    }

    .card-body{

        .card_descrip{
            height: 40px;
        }
    }
}
